{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- This uses the text favicon created using https://favicon.io/ -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon_io/apple-touch-icon.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon_io/favicon-32x32.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon_io/favicon-16x16.png" | relative_url }}">
<link rel="manifest" href="{{ "/assets/favicon_io/site.webmanifest" | relative_url }}">
