/**
 * Site header
 */
.site-header {
  border-top: 5px solid $border-color-03;
  min-height: $spacing-unit * 7;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;


  // Affects the Search Bar at the top left of page
  form {
    display: none; // Don't want to display the search bar here b/c want it as separate tab
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    position: relative;
    left: 50px;

  }

}


// Declaring Font Faces

// See https://www.onlinewebfonts.com/download/527ea5851ca62a9a758a44dc39437eae to import fonts
@font-face {
  font-family: "Old English Text MT V2";
  src: url("https://db.onlinewebfonts.com/t/527ea5851ca62a9a758a44dc39437eae.eot");
  src: url("https://db.onlinewebfonts.com/t/527ea5851ca62a9a758a44dc39437eae.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/527ea5851ca62a9a758a44dc39437eae.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/527ea5851ca62a9a758a44dc39437eae.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/527ea5851ca62a9a758a44dc39437eae.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/527ea5851ca62a9a758a44dc39437eae.svg#Old English Text MT V2")format("svg");
}

@font-face {
  font-family: "High Tower Text";
  src: url("https://db.onlinewebfonts.com/t/9e23421978544d8e00a00eb47740d280.eot");
  src: url("https://db.onlinewebfonts.com/t/9e23421978544d8e00a00eb47740d280.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/9e23421978544d8e00a00eb47740d280.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/9e23421978544d8e00a00eb47740d280.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/9e23421978544d8e00a00eb47740d280.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/9e23421978544d8e00a00eb47740d280.svg#High Tower Text")format("svg");
}

@font-face {
  font-family: "Engravers MT";
  src: url("https://db.onlinewebfonts.com/t/3135c98efb051f346203c2f2ed708638.eot");
  src: url("https://db.onlinewebfonts.com/t/3135c98efb051f346203c2f2ed708638.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/3135c98efb051f346203c2f2ed708638.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/3135c98efb051f346203c2f2ed708638.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/3135c98efb051f346203c2f2ed708638.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/3135c98efb051f346203c2f2ed708638.svg#Engravers MT")format("svg");
}

@font-face {
  font-family: "Gloucester MT Extra Condensed";
  src: url("https://db.onlinewebfonts.com/t/141449d91ea53b0c3f08600f47ecbc0c.eot");
  src: url("https://db.onlinewebfonts.com/t/141449d91ea53b0c3f08600f47ecbc0c.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/141449d91ea53b0c3f08600f47ecbc0c.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/141449d91ea53b0c3f08600f47ecbc0c.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/141449d91ea53b0c3f08600f47ecbc0c.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/141449d91ea53b0c3f08600f47ecbc0c.svg#Gloucester MT Extra Condensed")format("svg");
}

@font-face {
  font-family: "Times New Roman";
  src: url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.eot");
  src: url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.svg#Times New Roman")format("svg");
}

// Helpful Code for creating this section
// Also see how you integrated the parts of this code into the /_includes/header.html file
// https://talk.jekyllrb.com/t/how-to-add-a-logo-to-minima-theme/4120
// https://github.com/AppliedLogicSystems/ALSProlog/commit/e49a98b7fb5e7039fe135eb94e9d9572de94ec82
// https://github.com/UriShX/Jekyll-portfolio/tree/master

.banner-break {
  margin-top:0;
  margin-bottom: 0;
  line-height: $base-line-height;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  text-decoration: none;
  justify-content: center;
  margin-top: 0%;
  margin-bottom: $spacing-unit * 0.25;

  .phrase{
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-family: "High Tower Text";
    border: 3px solid black;
    line-height: 20px;
    padding: 10px 10px 10px 10px;
    // margin-top: $spacing-unit * 1;
    // margin-bottom: $spacing-unit * 2;
    margin-right: $spacing-unit * 0.5;
    font-size: 13.75px;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  

  h1 {
    @include relative-font-size(8.5);
    font-weight: bolder;
    display: block;
    font-family: "Old English Text MT V2";
    letter-spacing: 2px;
    // margin-top: $spacing-unit * 0.0001;
    // margin-bottom: $spacing-unit * 1;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;

    a:hover {
      text-decoration: none;
      color: black;
    }

    // For adding logo at the top of the page
    // a:before {
    //   content: url("/assets/test-logo.png");
    //   display: inline-block;
    //   position: relative;
    //   left: -100px;
    //   width: 37px;
    //   top: 5px;
    // }
    
  }

  .weatherforecastbox{
    line-height: 95%;
    margin-top: $spacing-unit * 0.25;
    margin-bottom: 0%;
   
  
    h1 {
      font-family: "Engravers MT";
      font-size: 22px;
      font-style: normal;
      text-align: center;
      font-weight: bold;
      margin-bottom: 2.5%;
    }
    
    p {
      width: 225px;
      height: 100px;
      font-style: normal;
      text-align: center; 
      font-size: 12px; 
      overflow: hidden;
    }
  
    // How to hide the scroll bar until hover
  
    p:hover {
      overflow-y: auto;
      overflow-x: auto;
      background-color: transparent;
    }
  }

}


.search {
  text-align: center;
  margin-top: 15px;

  ul {
    list-style-type: none;
  }
}



.subheader{
  text-transform: uppercase;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  line-height: $base-line-height * 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  padding-top: $spacing-unit * 0.4;
  padding-bottom: $spacing-unit * 0.4;

  .left-subheader {
    color: black;
    font-weight: bolder;
    font-family: "Engravers MT";
    font-style: italic;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    right: $spacing-unit * 6.5;

  }

  .center-subheader {
    color: black;
    // display: inline-block;
    font-weight: bolder;
    font-family: "Engravers MT";
    font-style: italic;
    font-size: 14px;
    font-weight: 700;
    // left: 200px;
    letter-spacing: 1px;
    // position: relative;
    text-align: center;
    // margin-top: $spacing-unit * 0.4;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    right: $spacing-unit * 2;

  }

  .current-date {
    color: black;
    // display: inline-block;
    font-weight: bolder;
    font-family: "Engravers MT";
    font-style: italic;
    font-size: 14px;
    font-weight: 700;
    // left: 200px;
    letter-spacing: 1px;
    // position: relative;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    right: $spacing-unit * 2;

  }

  .right-subheader {
    color: black;
    // display: inline-block;
    font-weight: bolder;
    font-family: "Engravers MT";
    font-style: italic;
    font-size: 14px;
    font-weight: 700;
    // left: 400px;
    letter-spacing: 1px;
    // position: relative;
    text-align: center;
    // margin-top: $spacing-unit * 0.4;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    left: $spacing-unit * 4.25;

  }

}

// See https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp for this code

.navbar {
  overflow: hidden;
  background-color: $background-color;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: $background-color;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

// .site-nav {
//   position: relative;
//   top: 9px;
//   right: $spacing-unit * 0.01;
//   background-color: $background-color;
//   border: 1px solid $border-color-01;
//   border-radius: 5px;
//   text-align: right;
//   margin-top: 0%;
//   margin-bottom: 0%;
//   font-weight: bold;

//   // For changing the tabs (i.e., Home, About, etc.)
//   // .trigger {
//   //   font-weight: bold;
//   //   margin-top: 0%;
//   //   margin-bottom: 0%;
//   //   position: relative;
//   // }

//   .nav-trigger {
//     display: none;
//   }

//   .menu-icon {
//     float: right;
//     width: 36px;
//     height: 26px;
//     line-height: 0;
//     padding-top: 10px;
//     text-align: center;

//     > svg path {
//       fill: $border-color-03;
//     }
//   }

//   label[for="nav-trigger"] {
//     display: block;
//     float: right;
//     width: 36px;
//     height: 36px;
//     z-index: 2;
//     cursor: pointer;
//   }

//   input ~ .trigger {
//     clear: both;
//     display: none;
//   }

//   input:checked ~ .trigger {
//     display: block;
//     padding-bottom: 5px;
//   }

//   .home-link {
//     color: $text-color;
//     padding: 0px 20px;

//   }

//   .page-link {
//     color: $text-color;
//     line-height: $base-line-height;
//     display: block;
//     padding: 5px 10px;

//     // Gaps between nav items, but not on the last one
//     &:not(:last-child) {
//       margin-right: 0;
//     }
//     margin-left: 20px;
//   }


//   @media screen and (min-width: $on-medium) {
//     position: static;
//     float: right;
//     border: none;
//     background-color: inherit;

//     label[for="nav-trigger"] {
//       display: none;
//     }

//     .menu-icon {
//       display: none;
//     }

//     input ~ .trigger {
//       display: block;
//     }

//     .page-link {
//       display: inline;
//       padding: 0;

//       &:not(:last-child) {
//         margin-right: 20px;
//       }
//       margin-left: auto;
//     }
//   }
// }



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * .5;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.site-description {
  text-align: center;
  color: gray;
}

.message {
  text-align: center;
  color: gray;
}

.link-row {
  position: relative;
  display: flex;                  
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;             
  justify-content: space-between; 
  left: 45px;
  padding-bottom: 15px;;
}

.feed-subscribe {
  span {
    color: gray;
  }
}

// .social-links {
//   margin-right: 225px;
  
// }

// .share-buttons {
//   margin-left: 225px;
// }

// .footer-col-wrapper,
// .social-links {
//   @include relative-font-size(0.9375);
//   color: $brand-color;
// }

// .footer-col {
//   margin-bottom: $spacing-unit * .5;
// }

// .footer-col-1,
// .footer-col-2 {
//   width: calc(50% - (#{$spacing-unit} / 2));
// }

// .footer-col-3 {
//   width: calc(100% - (#{$spacing-unit} / 2));
// }

// @media screen and (min-width: $on-large) {
//   .footer-col-1 {
//     width: calc(35% - (#{$spacing-unit} / 2));
//   }

//   .footer-col-2 {
//     width: calc(20% - (#{$spacing-unit} / 2));
//   }

//   .footer-col-3 {
//     width: calc(45% - (#{$spacing-unit} / 2));
//   }
// }

// @media screen and (min-width: $on-medium) {
//   .footer-col-wrapper {
//     display: flex
//   }

//   .footer-col {
//     width: calc(100% - (#{$spacing-unit} / 2));
//     padding: 0 ($spacing-unit * .5);

//     &:first-child {
//       padding-right: $spacing-unit * .5;
//       padding-left: 0;
//     }

//     &:last-child {
//       padding-right: 0;
//       padding-left: $spacing-unit * .5;
//     }
//   }
// }



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}


.post-list {
  position: relative;
  list-style: none;
  width: 1200px;
  left: -260px;
  

  .post-link {
    line-height: $base-line-height * 0.575;
  }

  > li {
    margin-bottom: $spacing-unit;
  }

  table, th, td {
    border: 0px solid;
    background-color: $background-color;
  }

  // Use height to control how much text is hidden
  // See following source for how to do text fade:
  // https://stackoverflow.com/questions/11837606/fading-out-text-at-bottom-of-a-section-with-transparent-div-but-height-stays-un
  

  table {
    display: inline-block;
    table-layout: fixed;
    text-align: left;
    border-collapse: collapse;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    height: 700px;
    overflow-y: hidden;
  }

  tbody {
    vertical-align: top;
    background: $background-color;
    transition: background 0.5s ease-out;
  }


  // Make sure each column takes up same amount of space
  td {
    width: 50%;
  }

  //  Following Four are to make the markdwon table look like a newspaper column

  // First of child of each table
  table tr:nth-child(5n-4) th {
    border-top: 1px;
  }

  // Last child of each table
  table tr:nth-child(5n) td {
    border-bottom: 0;
  }

  // First Child
  table tr td:nth-child(10n-9),
  table tr th:nth-child(10n-9) {
    border-right: 1px solid black;
  }

  // Last Child
  table tr td:nth-child(10n),
  table tr th:nth-child(10n) {
    border-left: 1px solid black;
  }

  // Following five modify the text elements of each post

  // First child
  // Controls Each articles Headline for Post on main page
  table tr:nth-child(5n-4) {
    @include relative-font-size(2.35);
    text-align: center;
    font-family: "Gloucester MT Extra Condensed";
    color: black;
    font-weight: 550;
    text-transform: uppercase;
    line-height: $base-line-height * 0.75;
    position: relative;
    top: -10px;
    
  }


  // Second Child
  // Controls images for Post if have them on main page
  table tr:nth-child(5n-3) {
    position: relative;
    text-align: left;
    color: black;
    top: -20px;
  }

  // Third Child
  // Controls article bylines for Post on main page
  table tr:nth-child(5n-2) {
    @include relative-font-size(1.35);
    position: relative;
    text-align: center;
    font-family: "Times New Roman";
    color: black;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: $base-line-height * 0.75;
    top: -30px;
  }

  // Fourth Child
  // Controls dates for Post on main page
  table tr:nth-child(5n-1) {
    @include relative-font-size(1.125);
    position: relative;
    text-align: center;
    color: black;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: $base-line-height * 0.3;
    top: -10px;
  }

  // Fifth Child
  // Controls article body for Post on main page
  table tr:nth-child(5n) {
    color: black;
  }

}

// Changed display to none to hide date
.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
  display: none;
}

// Change How Overarching Post Titles Appear on Home page here
.post-link {
  display: block;
  position: relative;
  left: 0px;
  font-family: "Times New Roman";
  font-weight: 800;
  font-style: oblique;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  border-bottom: 3px solid black;
  line-height: $base-line-height * 0.5;
  top: -10px;
  padding-top: 10px;
  padding-bottom: 30px;
  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.85);
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}


.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;
}

.post-title {
  position: relative;
  font-family: "Times New Roman";
  font-weight: 800;
  font-style: oblique;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  border-bottom: 3px solid black;
  line-height: $base-line-height * 0.575;
  top: -10px;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 1200px;
  left: -230px;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.85);
  }

}

// Get ride of date display
.dt-published {
  display: none;
}

.post-content {
  margin-bottom: $spacing-unit;
  position: relative;
  width: 1200px;
  left: -230px;

  tbody {
    vertical-align: top;
  }

  table, th, td {
    border: 0px solid;
    background-color: $background-color;
  }

  table {
    table-layout: fixed;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }

  // Making table look like newspaper column

  table tr:first-child th {
    border-top: 1px;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:first-child,
  table tr th:first-child {
    border-right: 1px solid black;
  }
  table tr td:last-child,
  table tr th:last-child {
    border-left: 1px solid black;
  }

  // Modifying text conent

  // Controls Each articles Headline for Post on its own page
  table tr:nth-child(1) {
    @include relative-font-size(2.35);
    text-align: center;
    font-family: "Gloucester MT Extra Condensed";
    color: black;
    font-weight: 550;
    text-transform: uppercase;
    line-height: $base-line-height * 0.75;
    position: relative;
    top: -20px;
    
  }
  // Controls Space where an image would go on Post on its own page
  table tr:nth-child(2) {
    position: relative;
    text-align: left;
    color: black;
    top: -20px;
  }
  // Controls Byline on Post on its own page
  table tr:nth-child(3) {
    @include relative-font-size(1.35);
    position: relative;
    text-align: center;
    font-family: "Times New Roman";
    color: black;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: $base-line-height * 0.75;
    top: -30px;
  }
  // Controls Date on Post on its own page
  table tr:nth-child(4) {
    @include relative-font-size(1.125);
    position: relative;
    text-align: center;
    color: black;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: $base-line-height * 0.3;
    top: -10px;
  }
  // Controls Body on Post on its own page
  table tr:nth-child(5) {
    color: black;
  }


  h1, h2, h3, h4, h5, h6 { margin-top: $spacing-unit }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}



.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}



/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit * .25;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}

/**
 * Month Archive
 */

.month-archive {
  color: black;
  position: relative;
  text-align: center;
  line-height: $base-line-height * 1.5;

  h3 {
    position: relative;
    left: 15px;
  }

  li {
    list-style-type: none;
  }

  a {
    font-weight: bold;
  }

}

.tag-archive {
  color: black;
  position: relative;
  text-align: center;
  line-height: $base-line-height * 1.5;
  
  li {
    list-style-type: none;
  }

  a {
    font-weight: bold;
  }

}

// Following makes tag name display horizontally
.tag-names {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  li {
    margin: 0 10px;
  }
}

.category-archive {
  color: black;
  position: relative;
  text-align: center;
  line-height: $base-line-height * 1.5;


  li {
    list-style-type: none;
  }

  a {
    font-weight: bold;
  }

}



/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}


/**
 * Media Queries to Make Website Responsive
 */

// Major breakpoints at less than 600px, 601px, 768px 992px 1200px

// For the following to work, must include the next line of html in the custom-head
// <meta name="viewport" content="width=device-width, initial-scale=1.0">

 @media only screen and (max-width: 600px) and (orientation: landscape) {

  .site-nav {
    width: 100%;
  }

  .subheader {
    width: 100%;
  }

 }

 @media only screen and (max-width: 600px) and (orientation: portrait) {
  
  .site-nav {
    width: 100%;
  }

  .subheader {
    width: 100%;
  }

 }

 @media only screen and (min-width: 601px) and (orientation: landscape) {

  .site-nav {
    width: 100%;
  }

  .subheader {
    width: 100%;
  }

 }

 @media only screen and (min-width: 601px) and (orientation: portrait) {

  .site-nav {
    width: 100%;
  }

  .subheader {
    width: 100%;
  }

 }

 @media only screen and (min-width: 768px) and (orientation: landscape) {

  .site-nav {
    width: 100%;
  }

  .subheader {
    width: 100%;
  }

 }

 @media only screen and (min-width: 768px) and (orientation: portrait) {

  .site-nav {
    width: 100%;
  }

  .subheader {
    width: 100%;
  }

 }

 @media only screen and (min-width: 992px) and (orientation: landscape) {

  .site-nav {
    width: 100%;
  }

  .subheader {
    width: 100%;
  }

 }

 @media only screen and (min-width: 992px) and (orientation: portrait) {

  .site-nav {
    width: 100%;
  }

  .subheader {
    width: 100%;
  }

 }

 @media only screen and (min-width: 1200px) and (orientation: landscape) {

  .site-nav {
    width: 100%;
  }

  .subheader {
    width: 100%;
  }

 }

 @media only screen and (min-width: 1200px) and (orientation: portrait) {

  .site-nav {
    width: 100%;
  }

  .subheader {
    width: 100%;
  }

  //  create a container for elements in banner
  // See if need to create more breakpoints or make font size and text line spacing dynamic

 }



