// Placeholder to allow overriding predefined variables smoothly.

$site-title-color: black;

// default link color 
$link-base-color: black;

// link color once hover over it
$link-hover-color: black;

// link color after have visited it
$link-visited-color: black;

// Change background color
$background-color: #f9f7f1
